*~
*_session.txt
CMakeCache.txt
CMakeFiles/*
Makefile
cmake_install.cmake
build/*
.dogic12_session
.dogic_session
.rubik_session
3D-Puzzles-x86_64.AppImage
deploy_app.sh
3D_Puzzles_pack.zip
bin/
install.sh
